<div class="jumbotron">
    <h1>ThingTalk.OpenAPI</h1>
    <p class="lead">信云开放API, 提供交互查询、数据实时推送等接口.</p>    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>HTTP Basic Authentication</h2>
    </div>
    <div class="col-md-4">
        <h2>RESTFul</h2>
    </div>
    <div class="col-md-4">
        <h2>SignalR</h2>
    </div>
</div>
